In [2]:
import pandas as pd 
import os 
import numpy as np

In [3]:
df1 = pd.read_csv("season-0910_csv.csv")
df1

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,SP1,2009-08-29,Real Madrid,La Coruna,3,2,H,2,1,H,...,1.52,1.48,2.90,2.53,19,0.00,9.00,1.92,11.00,8.69
1,SP1,2009-08-29,Zaragoza,Tenerife,1,0,H,0,0,D,...,2.08,1.97,1.91,1.79,18,0.00,1.38,1.36,3.20,3.01
2,SP1,2009-08-30,Almeria,Valladolid,0,0,D,0,0,D,...,2.16,2.02,1.83,1.74,19,0.00,1.62,1.54,2.54,2.41
3,SP1,2009-08-30,Ath Bilbao,Espanol,1,0,H,0,0,D,...,2.15,2.02,1.81,1.74,19,0.00,1.66,1.58,2.47,2.30
4,SP1,2009-08-30,Malaga,Ath Madrid,3,0,H,1,0,H,...,1.85,1.80,2.13,1.96,18,0.00,2.60,2.45,1.58,1.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2010-05-16,Barcelona,Valladolid,4,0,H,2,0,H,...,1.25,1.21,4.50,4.06,11,-2.75,1.88,1.83,2.08,2.02
376,SP1,2010-05-16,Malaga,Real Madrid,1,1,D,1,0,H,...,1.36,1.31,3.40,3.23,11,0.00,8.25,7.64,1.08,1.06
377,SP1,2010-05-16,Osasuna,Xerez,1,1,D,0,0,D,...,1.72,1.66,2.30,2.12,19,0.00,1.80,1.70,2.22,2.10
378,SP1,2010-05-16,Santander,Sp Gijon,2,0,H,1,0,H,...,1.73,1.64,2.25,2.14,13,0.00,1.08,1.06,9.00,7.58
379,SP1,2010-05-16,Valencia,Tenerife,1,0,H,0,0,D,...,1.55,1.51,2.60,2.43,17,0.00,1.65,1.60,2.40,2.25

In [4]:
df1.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY',
       'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'GBH',
       'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'SBH', 'SBD',
       'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA',
       'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD',
       'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')

You can find the meaning of each column on this link: https://www.football-data.co.uk/notes.txt

In [6]:
df2 = pd.read_csv("season-1819_csv.csv")
df2

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,SP1,17/08/2018,Betis,Levante,0,3,A,0,1,A,...,2.06,20,-0.75,1.89,1.85,2.07,2.00,1.59,4.42,5.89
1,SP1,17/08/2018,Girona,Valladolid,0,0,D,0,0,D,...,1.71,20,-0.75,2.06,2.01,1.90,1.85,1.76,3.57,5.62
2,SP1,18/08/2018,Barcelona,Alaves,3,0,H,0,0,D,...,3.18,19,-2.50,1.95,1.91,2.00,1.95,1.10,11.85,32.17
3,SP1,18/08/2018,Celta,Espanol,1,1,D,0,1,A,...,1.76,18,-0.75,2.26,2.18,1.74,1.71,2.18,3.26,3.85
4,SP1,18/08/2018,Villarreal,Sociedad,1,2,A,1,1,D,...,1.81,18,-0.25,1.76,1.74,2.23,2.14,2.32,3.21,3.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,18/05/2019,Levante,Ath Madrid,2,2,D,2,0,H,...,2.23,18,0.50,1.91,1.87,2.04,1.99,4.34,4.10,1.81
376,SP1,18/05/2019,Sevilla,Ath Bilbao,2,0,H,1,0,H,...,2.08,19,-1.00,2.70,2.60,1.60,1.53,2.17,3.08,4.15
377,SP1,18/05/2019,Valladolid,Valencia,0,2,A,0,1,A,...,2.25,20,1.50,1.78,1.74,2.20,2.13,8.01,5.13,1.40
378,SP1,19/05/2019,Eibar,Barcelona,2,2,D,2,2,D,...,2.65,19,0.50,2.03,1.98,1.92,1.88,4.96,4.55,1.65
379,SP1,19/05/2019,Real Madrid,Betis,0,2,A,0,0,D,...,3.42,23,-1.00,1.94,1.91,2.01,1.98,1.33,6.38,8.09

In [7]:
df2.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY',
       'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH',
       'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
       'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA',
       'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')